@font-face {
  font-family: "Your font name";
  src: url('{{ "Your font name.eot" | asset_url }}');
  src: url('{{ "Your font name.eot" | asset_url }} ?#iefix') format("embedded-opentype"),
       url('{{ "Your font name.woff" | asset_url }}') format("woff"),
       url('{{ "Your font name.woff2" | asset_url }}') format("woff2"),
       url('{{ "Your font name.ttf" | asset_url }}') format("truetype");
}

h1, h1 a, h2, h2 a, h4, h4 a, h5, h5 a, h6, h6 a, #nav li a, div.title a, .headline, .subtitle { font-family: 'Your font name' !important; }
